[2020-11-18 19:15] chnuessli opened #1 "make agreement to the framework"

[2020-11-18 19:16] chnuessli opened #2 "find more contributors"
find more contributors that are interested in creating an app in xamarin

[2020-11-18 19:17] chnuessli opened #3 "write requirements"
complete requirements.md in the repo

[2020-11-18 20:50] PatriciaHeimfarth commented on #1
Hi,
also ich hatte ja Xamarin vorgeschlagen, weil man damit Android und iOS gleichzeitig bedienen könnte.
Dann gibt es noch Flutter, damit kann man das auch.
Oder halt jeweils eine native App für Android und iOS, das wäre dann aber mehr Arbeit. Was meinst du?

[2020-11-18 21:24] chnuessli commented on #1
Ich bin einverstanden mit Xamarin, wenn du das gerne machen würdest. Ich bin einfach mit .NET usw. nicht vertraut. Würdest du da den Löwenanteil übernehmen? Oder sollen wir noch andere Mitwirkende suchen?

[2020-11-18 21:24] chnuessli commented on #1
Die Frage des Hosting müssten wir dann noch klären

[2020-11-20 15:59] PatriciaHeimfarth commented on #1
Ich würde sagen, wir fangen einfach an und schauen dann, was sich ergibt.
Willst du dann vielleicht festhalten, was grob gemacht werden soll? Dann können wir es Schritt für Schritt realisieren

[2020-11-21 12:55] chnuessli commented on #1
Hallo @PatriciaHeimfarth
Ja, werde dieses Wochenende die Schritte und Spezifikation mal fertig stellen.

[2020-11-22 09:31] chnuessli commented on #1
Hallo @PatriciaHeimfarth
Ja, ich werde dieses Wochenende die Schritte und Spezifikation mal fertig stellen.

[2020-11-22 09:32] chnuessli commented on #1
Die requirements.md ist nun aktualisiert, mal auf Englisch für weitere Contributors.

[2020-11-24 12:24] elektrolytmangel commented on #2
Hi chnuessli,
I am interested to contribute to the product.

[2020-11-24 14:37] chnuessli commented on #2
Thank you @elektrolytmangel
We can discuss the technical process in #1 and you can edit the requirements with #3 and the markdown file for it.

[2020-11-25 09:20] chnuessli commented on #1
Hallo @PatriciaHeimfarth ein weiterer User würde uns unterstützen. Wäre Flutter auch eine Option für dich?
@elektrolytenmangel würde sich da auch bereits etwas auskennen.

[2020-11-25 12:48] elektrolytmangel commented on #1
Ich denke es wäre sinvoll, zuerst zu Überprüfen welche Kartenframeworks zur Verfügung stehen und in Frage kommen. Für Andorid und iOS gibt es jeweils ein MapBox SDK das OpenSource ist. Was es sonst noch gibt ist etwas durchmischt, soweit ich das gesehen habe: https://wiki.openstreetmap.org/wiki/Frameworks#Displaying_interactive_maps
@PatriciaHeimfarth hast du dazu bereits eine Idee?

[2020-11-26 19:04] chnuessli opened #5 "create backend for the api"
Create a solid backend for the app that may server the web form in the website as well

[2020-11-26 19:06] chnuessli opened #6 "create mockups"
Create all mockups for the app

[2020-11-26 20:44] elektrolytmangel commented on #5
Probably we can build it with Azure Functions (this is at the moment one of the cheapest and fastest ways to build something like this).

[2020-12-02 08:35] chnuessli commented on #5
I have signed up for Azure today, i will take a look at it

[2020-12-02 12:30] elektrolytmangel commented on #1
Nach einiger Recherche zu Multi-Plattform-Frameworks habe ich folgendes gefunden:
- Xamarin: jedoch schlechte Unterstützung für Custom Karten
- Unity: trotz Mapbox SDK wahrscheinlich etwas kompliziert für das aktuelle Projekt
- Ionic/Cordova: alle Vorteile der Webentwicklung, dafür ewas schlechtere Performance und nicht natives UI
- React Native: alle Vorteile der Webentwicklung, hervorragende Per

[2020-12-03 18:09] chnuessli commented on #1
Hallo @elektrolytmangel
Ich denke wir sollten React Native eine Chance geben und es damit versuchen. Vielleicht kann @PatriciaHeimfarth auch so etwas profitieren und mitmachen? Ich bin gerade React.js etwas am anschauen, sieht vielversprechend aus. React Native wird zwar gerade sehr gehyped, aber sieht solide aus.

[2020-12-03 22:13] havogt commented on #1
Hi!
Ich könnte mir vorstellen auch etwas zur app beizutragen. Als ich die defikarte zum ersten mal gesehen hab (twitter vermutlich), hab ich gedacht, sie verdient eine app...
Ich bin jedoch etwas flutter fixiert, weil App/Web Entwicklung nur ein Hobby ist und ich mein bischen Freizeit nicht in noch ein weiteres Framework investieren will. Was ich unter anderem beitragen könnte wäre ein CI/CD setup

[2020-12-05 08:16] chnuessli commented on #1
Hallo @havogt vielen Dank für dein Interesse.
Die Entscheidung für ein Framework ist keine Einfache. Da @elektrolytmangel aber laut eminen Infos bereits etwas angefangen hat wäre es doof zu wechseln. Ich denke aber, mit den CI/CD Setups könntest du uns sicher untersützen. Vielleicht packt es dich ja trotzdem noch, bei React Native mitzuhelfen. Wir müssen zuerst ausmerzen, was wir alles benötigen.

[2020-12-07 20:47] havogt commented on #1
Klar, kann ich verstehen. Falls ihr euch doch noch für Flutter entscheidet, lasst es mich wissen! ;)

[2020-12-18 18:59] #6 closed

[2020-12-20 20:57] elektrolytmangel commented on #5
What do you think about this idea? And what is the priority for this task? If we would create a backend, then we can aöways control how the request would be forwarded to OSM even if the app has not been updated on the phone.
To build the backend, as I already mentioned, I would use Azure Functions based on.Net / c#.

[2020-12-20 21:12] chnuessli commented on #5
Sounds good. I've been playing woth frontend lately. Completely new to c# and .NET. The priority to this task is not very high. We can do it if time allows it...

[2020-12-20 21:18] elektrolytmangel opened #7 "Create prototype app"
Create a prototype application with the selected framework (React Native, at the moment). No need to bind already the OSM API.

[2021-01-02 17:53] chnuessli opened #8 "backend development"

[2021-01-02 17:53] chnuessli opened #9 "push backend to azure functions"

[2021-01-02 17:53] chnuessli opened #10 "create a form in the app to fill in the api fields"

[2021-01-02 17:54] chnuessli opened #11 "make router use system "map" apps"
e.g google maps or apple maps

[2021-01-02 17:54] #2 closed

[2021-01-02 17:54] chnuessli commented on #3
find it here: https://github.com/chnuessli/defikarte.ch-app/blob/main/Requirements.md

[2021-01-02 17:54] #3 closed

[2021-01-02 17:56] chnuessli opened #12 "write documentation"

[2021-01-02 17:56] chnuessli opened #13 "set up github sponsors"

[2021-01-02 17:58] chnuessli opened #14 "create deployment process to app stores"
we need to set up a deployment process to push to the app stores.

[2021-01-02 17:59] chnuessli commented on #14
Maybe you @havogt have some experience in that process?

[2021-01-02 18:02] chnuessli opened #15 "update requirements during process"
uodates during the dev process listed here

[2021-01-06 21:30] chnuessli opened #17 "Insert logo assets"

[2021-01-07 06:13] chnuessli commented on #17
https://github.com/chnuessli/defikarte.ch-app/commit/fe932ecf476e72a9d35c0e6c5e22f58d98ec659a

[2021-01-07 06:13] #17 closed

[2021-01-13 06:32] elektrolytmangel commented on #9
Backend is pushed to azure. Authentication is missing at the moment. This will be needed when using the production api of osm (specially for the create endpoint).

[2021-01-13 06:34] elektrolytmangel commented on #8
Authorization is missing, only app not user?

[2021-01-13 06:35] elektrolytmangel commented on #7
A prototype is available at the development branch.

[2021-01-13 06:41] elektrolytmangel opened #20 "Form fields and validation"
Validate all fields in the app it self, also add the validation to the api.
@chnuessli can you write down which fields should be supported and which rules should be applied to them (i.e. required, some regex, length, datatype)?

[2021-01-13 07:06] #7 closed

[2021-01-13 07:07] chnuessli commented on #20
yes, i will do it, just give me some time for that :)

[2021-01-13 07:10] chnuessli commented on #13
done

[2021-01-13 07:10] #13 closed

[2021-01-13 07:14] chnuessli commented on #5
done by @elektrolytmangel

[2021-01-13 07:14] #5 closed

[2021-01-13 07:15] chnuessli commented on #10
https://github.com/chnuessli/defikarte.ch-app/issues/20

[2021-01-13 07:15] #10 closed

[2021-01-13 07:15] chnuessli commented on #10
duplicate

[2021-01-13 08:05] chnuessli commented on #1
Ich denke wir können das hier schliessen. Die App wurde auf React Native aufgebaut. Danke allen für die Diskussion.

[2021-01-13 08:05] #1 closed

[2021-01-13 08:13] elektrolytmangel commented on #11
This feature is also somehow implemented. It opens the apple maps app on iOS, on android it opens the default maps app. But the navigation parameters (to set start- and end-points) works only with google maps and apple maps.
The button is available on the ListScreen.

[2021-01-13 12:51] elektrolytmangel opened #21 "Create description for sponsors"
Create a short description to show potential sponsors which features and usages the app has. Probably also some cost calculation i.e. for IT infrastructure.

[2021-01-15 06:04] elektrolytmangel commented on #11
Google maps does not work. Habe to fix this later.

[2021-01-16 13:28] chnuessli opened #23 "Create marker for the app"
Due to performance reasons, a marker picture is needed.

[2021-01-17 18:42] chnuessli commented on #14
Developer Accounts to be ordered tommorrow

[2021-01-17 20:52] chnuessli commented on #20
added comments for the required fields and validation data (opening_hours)
insert description
opening_hours tool validator link is in comments

[2021-01-17 20:55] chnuessli commented on #20
@chnuessli look for a good validator api tommorrow

[2021-01-17 21:18] chnuessli commented on #14
both accounts ordered today.

[2021-01-18 17:38] chnuessli opened #24 "screenshots for the app store"
create screenshots for every device on the app stores

[2021-01-19 06:29] elektrolytmangel commented on #20
Yes this should work, thanks.

[2021-01-19 06:30] elektrolytmangel commented on #11
Fixed google maps.

[2021-01-19 06:30] #11 closed

[2021-01-19 08:50] chnuessli commented on #20
@elektrolytmangel whats the best programming language for implementing an opening_hours validation? Or should that work too with your latest commit?

[2021-01-19 08:53] elektrolytmangel commented on #20
For the app we could use the node js / javascript module you mentioned. For the backend, I did not checked it, but there is also a solution. At least a regex could handle most of the cases (language independent).

[2021-01-19 11:02] chnuessli commented on #21
done as pdf and SPONSORING.md

[2021-01-19 11:02] #21 closed

[2021-01-19 11:07] chnuessli opened #27 "update README.md"
at the end of the process and when we're live with v1 we need to update the readme.md

[2021-01-20 14:55] chnuessli opened #28 "anleitung für testuser erstellen"

[2021-01-20 14:57] chnuessli opened #29 "marker:red when opening_hours not now or access no"
can we do that?
if yes, then we should keep the marker dynamic and delete #23

[2021-01-20 16:32] elektrolytmangel commented on #29
Yes we can try to do that. With the other JS-library there is a function to determine if it is open at the current time. We can make the marker dynamic eighter with a rendered view or with an image, this is not directly related. But close the #23, this is fine for me.

[2021-01-20 18:18] elektrolytmangel opened #30 "Icons for iOS and Android"
To deploy the app to play and app store, we need some icons. The icon guidline from expo says it should have an icon of 1024x1024, expo then generates the other icons by itself. For android there is at least a 512x512 icon needed (can be the same as the one for iOS).
@chnuessli can you please prepare the needed icon?
Expo doc: https://docs.expo.io/guides/app-icons/

[2021-01-21 16:59] chnuessli commented on #30
407dcb908cc396fccda2d13b1da824dd75dfdcc0

all icons set in app/defikarte/assets/icons

[2021-01-21 16:59] #30 closed

[2021-01-21 20:25] chnuessli opened #31 "fix typo in detail marker"

[2021-01-21 20:26] chnuessli opened #32 "bottom menu must be higher"
On iOS and the new iphones the menu bar is too low. the user has to point very good to the menu

[2021-01-21 20:42] chnuessli opened #33 "rename build app"
rename the app to Defikarte.ch for the app stores.

[2021-01-21 20:43] chnuessli opened #34 "User feedback"
Issue for all the user feedback.

[2021-01-21 21:10] chnuessli commented on #31
d5d369e88b0cc349fe09c9aeb7674c5173b4dba3

[2021-01-21 21:10] #31 closed

[2021-01-22 11:54] elektrolytmangel commented on #20
Backend validation is still missing. This is next up.

[2021-01-22 19:12] elektrolytmangel commented on #33
do you want to call it "defikarte.ch" or "Defikarte.ch"?

[2021-01-22 19:29] chnuessli commented on #33
Defikarte.ch

[2021-01-22 19:38] elektrolytmangel opened #36 "Show loading icon / indicator on first load"
Show a loading indicator after the startup, till the defis are loaded (takes something about 10s)

[2021-01-22 19:41] elektrolytmangel commented on #33
Will be there with the next builds

[2021-01-22 19:41] #33 closed

[2021-01-22 20:01] elektrolytmangel commented on #32
Please verify if the size is better now, I made it to fit to 8% of the screen (seems good on iOS 4.7" and Android 5.2")

[2021-01-24 07:02] pvoser commented on #34
@chnuessli definarte.ch oder Definarte.ch?
AppName ist nicht gleich dem Logo ( Gross- Kleinschreibung)
![5C352505-C9CC-4F68-A92D-3A6C05575453](https://user-images.githubusercontent.com/10988706/105623499-716c0f80-5e1a-11eb-94d1-756b457c0c42.jpeg)

[2021-01-24 07:07] pvoser commented on #34
@chnuessli UI auf iPhone Xs
Auf der hellen Karte sind die System-Informationen (Uhrzeit, Empfang, Batterie, usw.) kaum zu erkennen. Diese sollten dann auf schwarz wechseln.

![83176753-3069-4796-A533-014D74EF9CD2](https://user-images.githubusercontent.com/10988706/105623571-08d16280-5e1b-11eb-86df-8cd1b6824f8c.jpeg)

Button-Leiste zu tief auf iOS.

[2021-01-24 07:12] pvoser commented on #34
@chnuessli Neuen Standort erfassen. „Anleitungs-Text“ zu hoch und überdeck die System-Informationen (Uhrzeit, Empfang, Batterie, zurück zur vorherigen App, usw.):

![F366E563-E462-432B-8A10-75462D0DB582](https://user-images.githubusercontent.com/10988706/105623668-ac227780-5e1b-11eb-80aa-4448612c36a4.jpeg)

[2021-01-24 07:20] pvoser commented on #34
@chnuessli Neuen Standort erfassen - Informationen:
Die IU Elemente für Copy, Paste, Select sind alle in englisch, trotz deutschen Spracheinstellungen.

![0090715A-F2EE-4D34-9DBE-082FFFA6741E](https://user-images.githubusercontent.com/10988706/105623800-ed675700-5e1c-11eb-87aa-61d0a216bbb5.png)

[2021-01-24 07:23] pvoser commented on #34
@chnuessli Neuer Standort erfassen- Feld Beschreibung:

Evtl. Umbrechen, wenn eine lange Beschreibung eingegeben wird:

![B431C204-0FE3-4B58-95A8-2082426612B9](https://user-images.githubusercontent.com/10988706/105623870-741c3400-5e1d-11eb-9d6c-626ff825dfaf.png)

[2021-01-24 07:25] pvoser commented on #34
@chnuessli Neuen standort erfassen - Telefonnummer:

Die Tastatur überdeck ein wenig das Eingabefeld der Telefonnummer:
![F5A20A09-80AE-4CB5-8507-21C0AD5949B5](https://user-images.githubusercontent.com/10988706/105623901-b8a7cf80-5e1d-11eb-95df-f0fe41a65eae.jpeg)

[2021-01-24 07:58] pvoser commented on #34
@chnuessli war alles iOS, App Version 1.0.0

[2021-01-24 11:28] chnuessli opened #37 "change the the system default text to dark when in dark mode"
change the colors to black if the light map is selected, otherwise the system informations are unreadable.

[2021-01-24 11:30] chnuessli opened #38 "umbruch bei langen eingaben"
sollte evtl. noch in #20 mit einfliessen

[2021-01-24 11:36] chnuessli opened #39 "Pop up "neuer Defi" einmitten"
Das Pop-Up neuer Defi sollte mehr in die Mitte des Bildschirms rücken

[2021-01-24 11:38] chnuessli opened #40 "ios copy paste marker in system language"
die copy paste funktion sollte in der systemsprache angezeigt werden

[2021-01-24 11:40] chnuessli opened #41 "ui verbesserung bei eingabe telefonnummer"
die telefontastatur verdeckt teilweise die eingegebene nummer

[2021-01-24 11:40] chnuessli commented on #34
hey @pvoser herzlichen Dank für dein Feedback. Ich habe wo nötig Issues erfasst, einiges ist bereits erledigt oder schon bekannt. Zu unserer Nachvollziehbarkeit liste ich diese hier kurz auf.

- Unteres Menü zu tief: Ist in #32 und einem neuen Build bereits gelöst.
- Das Problem mit der Anzeige des Systemtextes habe ich in #37 erfasst. Tritt bei mir zwar nicht auf..
- Namensänderung des Builds zu

[2021-01-24 11:41] chnuessli commented on #40
https://stackoverflow.com/questions/11224969/localizing-the-cutcopypaste-menu-on-ios

[2021-01-24 12:56] pvoser commented on #37
@chnuessli Mein iOS ist auf das dunkle Design eingestellt. Evtl. liegt es an dem.

[2021-01-24 16:38] chnuessli commented on #37
@pvoser yes, it's on th eios dark mode, i changed the issue

[2021-01-25 06:46] chnuessli opened #42 "update app icon on expo"
update app icon on expo to have the correct logo on the next build

[2021-01-25 15:12] chnuessli opened #43 "api documentation"
make an api documentation p.e with https://petstore.swagger.io

[2021-01-25 18:58] pvoser commented on #34
@chnuessli Name der App ist defikarte-app:
![A82FE956-3CBF-4772-8297-1EFD34FC0FC0](https://user-images.githubusercontent.com/10988706/105752162-37e4f280-5f47-11eb-8420-840f9049b128.jpeg)

Evtl. umbenennen nach defikarte.ch?

iOS, iPhone Xs, Darkmode 😉

[2021-01-25 19:10] pvoser commented on #34
@chnuessli Infos zu Defi - Übersetzung
Zugang wird mit „yes“ oder „no“ angezeigt:

![05163864-B484-454B-BE2C-7B3A48EA5D14](https://user-images.githubusercontent.com/10988706/105753614-46cca480-5f49-11eb-8054-5d49da0f2d09.jpeg)

Schöner wäre: Ja / Nein

[2021-01-25 19:20] pvoser commented on #34
@chnuessli Zoom mit einem Finger

Wenn man ein Defi-Symbol antippt und dann loslässt und gleich nochmal nebendran tippt und hält (alles mit einem Finger), dann kann man plötzlich mit einem Finger die Karte zoomen.

Video ist wohl zu gross. Ich schicke es dem @elektrolytmangel  😊

[2021-01-25 19:25] pvoser commented on #34
Ok, das mit dem Zoomen mit einem Finger ist ein Feature, dass ich nicht kannte 😄. @chnuessli kannst du ignorieren mein Meldung 😊

[2021-01-25 19:31] pvoser commented on #34
@chnuessli Detailmarker wird 2mal geladen, wenn nahe am Bildschirmrand

Tippt man auf ein Icon, dass nahe am Bildschirmrand ist, so wird der Detailmarker 2mal geladen. Resp. Er öffnet sich, schliesst sich und wird wieder geöffnet.

Video geht an @elektrolytmangel

[2021-01-25 19:37] pvoser commented on #34
@chnuessli Notrufnummer auf Detailmarker

Die Notrufnummer auf dem Detailmarker als Telefonlink hinterlegen. Wäre evtl. auch was für die Listenansicht?

[2021-01-26 08:23] elektrolytmangel commented on #34
Feddback from @chrootlogin:
Same as already in issue #32
Request for new feature: Emergency-Button to call 112 / 144 and show the common questions they ask, so you can already prepare.

[2021-01-26 10:29] chnuessli commented on #34
The call button is a good idea, but the questions are different in every region.. because the emergency dispatch services have different asking schemas and products

[2021-01-26 10:31] chnuessli opened #44 "emergency number as phone link"

[2021-01-26 19:00] elektrolytmangel commented on #14
We need Secrets:
* EXPO_CLI_USERNAME
* EXPO_CLI_PASSWORD
* EXPO_APPLE_ID
* EXPO_APPLE_PASSWORD
* EXPO_APP_SPECIFIC_PASSWORD
* PHONE_NUMBER
* <Path to Google Sevice Account Json> (whatever that means) probably also as secret
* GOOGLE_MAPS_API (I will deliver you this key as soon as possible, till then use the one from the app.json)
@chnuessli  can you add this? You have to create a google service a

[2021-01-27 06:20] chnuessli commented on #14
@elektrolytmangel a secret for every line?

[2021-01-27 06:27] elektrolytmangel commented on #14
Yes. Probably for the expo, you can take the bot-user I created (I sent you the token on another channel). If the bot user does not work, you can insert yours.

[2021-01-28 12:19] elektrolytmangel commented on #20
Added validation for all fields in the app, added validation in backend exept for opening_hours (do not know how to solve this right now), fixed input behavior

[2021-01-28 12:19] #20 closed

[2021-01-28 12:21] elektrolytmangel commented on #8
close this issue, there is #9 with the same issue (Authentication)

[2021-01-28 12:21] #8 closed

[2021-01-28 12:23] elektrolytmangel commented on #38
fixed with #20

[2021-01-28 12:23] #38 closed

[2021-01-28 12:24] elektrolytmangel commented on #41
Fixed with #20

[2021-01-28 12:24] #41 closed

[2021-01-28 16:29] elektrolytmangel commented on #40
this does not work. I cannot change this dialogs that easy. I will say, this has low priority eighter.

[2021-01-28 16:32] chnuessli commented on #14
EXPO_CLI_USERNAME
EXPO_CLI_PASSWORD
EXPO_APPLE_ID
EXPO_APPLE_PASSWORD
EXPO_APP_SPECIFIC_PASSWORD
PHONE_NUMBER

Secrets added

[2021-01-28 16:56] chnuessli commented on #14
all secrets added

[2021-01-29 08:48] elektrolytmangel commented on #32
@chnuessli Please test this on an iPhone with notches and rounded corners

[2021-01-29 09:21] elektrolytmangel commented on #37
Always set the status bar to 'dark-content' and for android use background color 'transparent'

[2021-01-29 09:21] #37 closed

[2021-01-29 21:24] chnuessli commented on #32
Works for me, we can co a bit higher to the notch

[2021-01-29 22:22] elektrolytmangel commented on #32
probably we check this out together...

[2021-01-29 22:24] elektrolytmangel commented on #44
Link is on DetailScreen

[2021-01-29 22:24] #44 closed

[2021-01-29 22:29] elektrolytmangel commented on #39
Please give an printscreen, on both ios (iPhone8) and android (SGS7) it it works fine.

[2021-01-30 12:37] chnuessli commented on #44
Link does not work on my app. Can you prove it?

[2021-01-30 21:46] elektrolytmangel commented on #39
changed ui, should be centered now

[2021-01-30 21:46] #39 closed

[2021-01-30 21:47] elektrolytmangel commented on #36
added loading text and icon on first load of defis

[2021-01-30 21:47] #36 closed

[2021-02-01 20:51] elektrolytmangel opened #50 "Create environments for PROD and STAGING"
Add variables in app for the backend-url, dependent on dev or production,
Add variables in function app for the osm-url, user and pwd, staging and production
Add variable for google_api_key in app.json

[2021-02-02 06:23] elektrolytmangel opened #56 "Add error handling"
* when app crashes
* when backend gives errors back, show them to the user

[2021-02-02 13:35] chnuessli opened #57 ""about" or "project" page"

[2021-02-03 16:25] chnuessli opened #58 "center the defi when clicked"
can you center the defi marker when the marker is clicked?

[2021-02-03 21:00] elektrolytmangel commented on #50
google_api_key configured
backend_url configured

@chnuessli can you provide an osm user for the prodction environment? User and password are required.

[2021-02-03 21:02] elektrolytmangel commented on #32
Fixed the insets of top status bar and also the bottom stuff in iOS and also android (if any)

[2021-02-03 21:02] #32 closed

[2021-02-03 21:02] elektrolytmangel commented on #58
On android, this is default. I think we should wait (probably changing map-provider before)

[2021-02-03 21:05] elektrolytmangel opened #59 "Use other map provider (OSM native)"
Instead of using the native map modules and view, use OSM tiles to provide better base data. For this, we have probably to change to the MapboxSDK or some other solutions. With the current map-framework we can only overlay OSM-Tiles, which lead to bad performance (we have already some issues with performance because of the custom markers)

[2021-02-03 21:06] elektrolytmangel commented on #57
Add an about page, remove the "location" button in the middle, put the "plus" button there. At the right side, put a menu / about button, to show this.
Add the "location" button to the map.

[2021-02-03 21:27] elektrolytmangel opened #60 "i18n - translation"
Add translation to french, italian and english?

[2021-02-03 21:46] elektrolytmangel commented on #14
as it works now, at least publishing the JS part, I will close this issue. If more automatic stuff is needed, create a new issue.

[2021-02-03 21:46] #14 closed

[2021-02-03 21:47] elektrolytmangel commented on #29
We can add this to the first realease. @chnuessli you have to define how it should look like. Do we then still need that we can see if it is 24/7 or not? Probably we can show this on the pop-up / detail-map-overlay?

[2021-02-03 21:53] elektrolytmangel opened #61 "performance optimization for backend requests"
Add simple cache functionallity to the backend. So there is no direct call to the overpass api, and the app gets faster the defis.

[2021-02-03 21:55] elektrolytmangel commented on #60
translate also the data incoming from OSM?

[2021-02-04 14:20] chnuessli commented on #50
OSM User Account created, sent by DM

[2021-02-04 14:24] chnuessli commented on #29
The marker should be as this:

- green: 24/7h or opening_hours right now opened
- yellow: access=private or opening_hours not known
- red: access=no or opening_hours right now closed

the same thing i want to add in the website as well, maybe i can take a look at your code afterwards :)

[2021-02-05 18:55] elektrolytmangel commented on #61
Added the cache functionallity, know there is a response time of <1s for all defibrillators after the cache is created (can take up to a minute after first start of the function app)

[2021-02-05 18:55] #61 closed

[2021-02-06 07:43] elektrolytmangel commented on #57
@chnuessli please checkout the about screen, and tell me hat is missing or what do you want to show there. (At least a german version of the text is needed)

[2021-02-06 11:11] chnuessli commented on #57
I transldated your text in german and made some additions to the screen. should be ok for now. https://github.com/chnuessli/defikarte.ch-app/commit/6e22bdc62a1233239328b113c67c60d072a37f87

[2021-02-06 11:12] #57 closed

[2021-02-06 11:13] chnuessli commented on #60
transifex is too expensive. maybe we have to translate everything manually.
do you have a good idea for the osm data?
the whole app to translate is imho very low prio.

[2021-02-06 16:59] elektrolytmangel commented on #60
We can probably use: https://libretranslate.com/ is open source and free, and looks somehow simple to handle, and for the OSM data this should be enough. But it does not recognize the language. But I think for the most basic translations, this could work.

[2021-02-06 17:10] elektrolytmangel commented on #50
added deployment settings on azure function for prod-osm-API

[2021-02-06 17:10] #50 closed

[2021-02-07 10:17] chnuessli commented on #15
new requirements will be written in issues

[2021-02-07 10:17] #15 closed

[2021-02-07 10:17] chnuessli commented on #28
obsolete

[2021-02-07 10:17] #28 closed

[2021-02-07 10:58] elektrolytmangel commented on #42
With next standalone builds, teh icon is replaced

[2021-02-07 10:58] #42 closed

[2021-02-07 11:59] chnuessli commented on #27
https://github.com/chnuessli/defikarte.ch-app/commit/e334bb745caf1e2607fd718024d64fadffed49c6

[2021-02-07 11:59] #27 closed

[2021-02-07 14:29] chnuessli opened #62 "links in about page"
links are note usable, can we make it clickable? with an a href link?

[2021-02-07 14:31] elektrolytmangel commented on #62
I am already on it

[2021-02-07 14:52] #62 closed

[2021-02-07 14:53] chnuessli opened #64 "marker can not be moved"
new defi marker can not be moved

[2021-02-07 15:00] #64 closed

[2021-02-07 15:57] chnuessli opened #65 "mention sponsors in about page"

[2021-02-07 18:08] chnuessli commented on #65
ec3c9df0cfe0be27ed7b697aadb8edea02167fcf

[2021-02-07 18:08] #65 closed

[2021-02-07 18:09] chnuessli commented on #34
Erledigt

[2021-02-07 18:18] elektrolytmangel commented on #59
I added a tile overlay with osm data. On iOS it works fine, android does still have some performance issues / flickering of the markers

[2021-02-07 18:24] chnuessli opened #67 "DetailScreen.js use the same map overlay as MainScreen.js"
Depends on #59

[2021-02-07 18:48] #67 closed

[2021-02-07 19:22] chnuessli opened #68 "Possibility to edit a defi in the app"
It would be nice, to directly edit a defi in the app to:

- change some attributes
- move the defi to it's right position
- (delete) a defi if it's not there

[2021-02-07 19:23] chnuessli opened #69 "Possibility to send the location from a defi"
It would be nice if you can send a defi location via (share) button from DetailScreen.js

[2021-02-07 19:24] elektrolytmangel opened #70 "iOS update icon for app overview"
![image](https://user-images.githubusercontent.com/54470310/107157096-80a69d80-6982-11eb-9109-f4a84d143a8f.png)

[2021-02-08 05:38] chnuessli opened #71 "Code Refactoring"
# Code Refactoring

## Written code

As it is our first app, the code is written day by day and just straight forward. Maybe we should consider a code refactoring. The code is written in JS, C#, HTML and CSS and uses React Native.

## Best outcome

Someone willing and able to refactor our code with an external view and expertise can refactor our code and we can learn as much as we can and have a c

[2021-02-08 05:39] chnuessli opened #72 "Setup basic security checks"
We should activate the basic security checks that github and azure offers.

[2021-02-08 05:45] chnuessli commented on #72
https://github.com/chnuessli/defikarte.ch-app/commit/6bf9e083efb02c6a2bb770fcd80f7f7db4f953e8

Setup CodeQL Analysis and dependabot alerts and automated security cheks

[2021-02-08 05:45] #72 closed

[2021-02-08 05:46] chnuessli opened #73 "Update package-lock.json"
Remediation
Upgrade node-fetch to version 2.6.1 or later. For example:

"dependencies": {
  "node-fetch": ">=2.6.1"
}
or…
"devDependencies": {
  "node-fetch": ">=2.6.1"
}
Always verify the validity and compatibility of suggestions with your codebase.

[2021-02-08 05:47] chnuessli commented on #73
https://github.com/chnuessli/defikarte.ch-app/commit/a30a311a0088e540271fe2275e00a32e62fc65a7

[2021-02-08 05:47] #73 closed

[2021-02-08 06:24] chnuessli opened #74 "OSM Tile Overlay (Apple Maps and Google Maps)"
Since we changed to the OSM Tile layer, the Apple Maps Logo is still visual, can we change that? I dont want to have copyright troubles with apple :)

[2021-02-08 06:24] chnuessli commented on #74
![image](https://user-images.githubusercontent.com/63254403/107183214-a95c8080-69de-11eb-870c-2972b936f896.png)

[2021-02-08 06:28] elektrolytmangel commented on #74
We still have apple maps data in behind and use the apple-maps engine to display all the stuff. So the logo should be fine (and as I saw in the api documentation, we cannot hide it). But we have to think, to add probably a OSM notice?

[2021-02-08 06:55] chnuessli commented on #74
But isn't that a problem when the background map have other coordinates and visuals then the frontend map? Is it difficult to implement the whole map to a plain osm map?
And for an untrained user, the visual sight still implies that he is using apple maps but he isn't?

[2021-02-08 08:24] elektrolytmangel commented on #74
It does not have another coordiante system, it has other styling / visuals. Also the data is not only from OSM (see https://en.wikipedia.org/wiki/Apple_Maps#Features).
We have to use another library, i.e. Mapbox GL for react-native (https://github.com/react-native-mapbox-gl/maps). But at the moment there is no support for expo managed workflow (what we use right now). We have then to eject from th

[2021-02-08 13:30] chnuessli commented on #70
You can restart your device and the icon is correct

[2021-02-08 13:30] #70 closed

[2021-02-09 06:20] chnuessli opened #75 "automatically get the gps position"
to act quick in an "emergency" it would be nice to automatically get the actual gps position and zoom in to this position (same function as on clock to the marker).

[2021-02-09 09:14] elektrolytmangel commented on #74
Idea: What if we add a button (same as the location-button on the map) to toggle the OSM-overlay? By default it is turned off, if the user wants to have OSM data, he can turn it on. Then we do not have "wrong" Labels on the map and we do have OSM data optionally available.
@chnuessli  what do you think about this solution? Then we have some time, to implement OSM data in a better way, probably as

[2021-02-10 06:12] chnuessli commented on #74
Yes, sounds like a good idea to me, so that's a user decision which map he wants to use. so we dont have any copyright complaints.

[2021-02-10 12:17] elektrolytmangel commented on #71
@Raknison123 are you interested in helping in the .net or js part?

[2021-02-12 11:17] elektrolytmangel commented on #59
#74 duplicated

[2021-02-12 11:19] elektrolytmangel commented on #59
Do not only use a tile overlay, use directly osm data, on iOS and Android (with the overlay, on android there is some issue with the picture-resolution)

[2021-02-12 11:47] elektrolytmangel commented on #56
Add error boundary, so the JS erorrs are catched. More error handling is not needed at the moment.

[2021-02-12 11:47] #56 closed

[2021-02-12 11:48] elektrolytmangel commented on #9
Add also the requiered headers to the api call in the app

[2021-02-12 11:48] #9 closed

[2021-02-12 12:11] elektrolytmangel commented on #74
The button is now there. For the moment this works.

[2021-02-12 12:11] #74 closed

[2021-02-12 12:15] chnuessli opened #76 "create release package in main"

[2021-02-12 16:21] elektrolytmangel opened #78 "Disable clustering for high zoom levels"
If defis are near ea h other, sometimes on the highest zoom level (nearest to the ground), they are still clustered and cannot be clicked.
Example: Toni Areal Zurich
![image](https://user-images.githubusercontent.com/54470310/107793518-abb03900-6d56-11eb-9a0f-8208c01e08a5.png)

[2021-02-12 16:25] elektrolytmangel opened #79 "User location not shown on map after closing app"
When closing the app, opening again (running in background), the useres location on the map is not shown. Position is not updated anymore to. But the zoom function still works.

Probably it must again request permissions (permission given only "once", apple ios).
It appears only if the granted permission for the location is only given "once". If it is "while app im use", it seems to work.

[2021-02-13 13:39] chnuessli opened #80 "Google Play Store Improvements"
![image](https://user-images.githubusercontent.com/63254403/107851316-54b76c00-6e09-11eb-9053-2ac5bf4fa32f.png)

[2021-02-13 15:25] chnuessli opened #81 "Break in about page"
Put some html <br> or at the end of the page

[2021-02-14 10:36] chnuessli commented on #81
gave it a try in c8c1307

[2021-02-14 18:35] chnuessli opened #82 "Backup way to show the defis when overpass is down"
Every now and then, the overpass api have some hickup's or like today, is for many hours down. We need to get a second way to show the defi's from an other instance. My preferred option would be the geojson files i generate in the other repo (defi_archive). We should also be able to show defis even offline.

[2021-02-14 19:42] pvoser commented on #34
Nice! OSM MapLayer 👍🏻

It woul be nice if the OSM MapLayer button change the color if the OSM Layer is active:
![3A591683-3AF7-4A72-905A-C45BFBFC07F9](https://user-images.githubusercontent.com/10988706/107887176-75182100-6f04-11eb-8b2d-202465806d1c.jpeg)

[2021-02-15 05:30] chnuessli commented on #82
https://github.com/chnuessli/defi_archive/issues/5 die Webkarte nun kurzfristig auf die Main Overpass-Api umgestellt

[2021-02-15 06:37] elektrolytmangel opened #83 "OSM-Layer button toggle indicator"
Change the color / state of the osm-overlay button if osm layer is active. From #34

[2021-02-15 06:37] elektrolytmangel commented on #34
@pvoser I will add this in #83

[2021-02-15 06:40] elektrolytmangel commented on #82
At the moment we already have a backup. Beacause our backend caches the osm data, and the app does not directly query the overpass api, there should be always data available, probably old. I will check that this process works fine. So we do not have to build cache functionallity into the app. @chnuessli does this work for you? Or do you want that the app itself is offline (the map layers should th

[2021-02-15 06:45] elektrolytmangel commented on #80
If you build the android version, instead of -t apk use -t adb, then you have less issues. But we do not have all the symbol files, and also the second one, will not be solved because of the expo-wrapper application where we do not have control over. In sometime, we will probably eject and use the bare worklfow, then we do not have this issues anymore, I think.

[2021-02-15 06:57] chnuessli commented on #82
Yesterday, ther was no data shown in the app, also today (right now) thwe data is not shown in the app. The API has still some issues. I wrote the technical manager of the API, to adress the issue. But the backup way seems not to work right now.

[2021-02-15 15:41] elektrolytmangel commented on #83
Fill the icon, if osm is enabled.

[2021-02-15 15:41] #83 closed

[2021-02-15 16:56] #81 closed

[2021-02-15 19:12] chnuessli commented on #80
2/3 fixed with App Bundle instead of APK

[2021-02-16 18:43] elektrolytmangel commented on #79
This issue is fixed. Tested on iPhone8, iOS 14

[2021-02-16 18:43] #79 closed

[2021-02-16 18:47] #78 closed

[2021-02-16 18:49] elektrolytmangel commented on #82
This should work. @chnuessli please verify, if the next time overpass is down.

[2021-02-16 19:09] chnuessli commented on #82
I hope there is no next time

[2021-02-16 19:39] elektrolytmangel commented on #82
Does not work at the moment, after testing. Try to fix issues, but need some more logging.

[2021-02-17 15:33] elektrolytmangel commented on #82
It works now, after monitoring the service 24h.

[2021-02-17 18:16] chnuessli opened #86 "Update Screenshot in Play Store"

[2021-02-17 18:16] chnuessli opened #87 "Update Screenshots in App Store"

[2021-02-17 18:20] chnuessli commented on #86
done

[2021-02-17 18:20] #86 closed

[2021-02-17 18:21] #24 closed

[2021-02-17 18:23] chnuessli opened #88 "Insert App Store Links in README.md"
after publishing...

[2021-02-17 18:53] chnuessli commented on #87
just for 5'8" possible

[2021-02-17 18:53] chnuessli commented on #87
done

[2021-02-17 18:53] #87 closed

[2021-02-18 18:44] #80 closed

[2021-02-18 18:54] chnuessli commented on #76
https://github.com/chnuessli/defikarte.ch-app/releases/tag/V1.0.8

[2021-02-18 18:54] #76 closed

[2021-02-18 18:57] chnuessli opened #90 "insert links to the app stores on the website"

[2021-02-20 19:27] chnuessli opened #91 "POC with Open Mobile Maps SDK"
https://openmobilemaps.io/

[2021-02-21 10:07] elektrolytmangel commented on #82
Problem: The singleton-instance of the "SimpleCache" is not function independent. Use instead durable-functions / entities: https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-entities?tabs=csharp

[2021-02-22 06:51] elektrolytmangel opened #93 "Migrate backend from Visual Studio to VS Code"
To use always the same IDE, migrate the Azure Functions project also to VS Code instead of using Visual Studio.

[2021-02-22 09:51] chnuessli opened #94 "Possibility to add photos to the defi location"

[2021-02-22 09:51] chnuessli opened #95 "Find a way to show defis even if gps is deactivated"

[2021-02-22 10:13] chnuessli opened #96 "new screenshots without water marker"

[2021-02-22 10:35] chnuessli opened #97 "Expand to Huawei App store"
Plant ihr auch eine App für Huawei? Denke solche Informationen wären da auch sehr gut zu platzieren.

[2021-02-22 13:00] elektrolytmangel opened #98 "Enable Application insights"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core

[2021-02-22 14:46] chnuessli opened #99 "Insert "OSM Contributors" Link in About"

[2021-02-22 16:13] chnuessli commented on #90
https://github.com/chnuessli/defikarte.ch/commit/86147cdf15c12d2554b996395e71ce272f15d097

[2021-02-22 16:13] #90 closed

[2021-02-22 16:13] chnuessli commented on #88
done in latest commit

[2021-02-22 16:13] #88 closed

[2021-02-22 16:23] chnuessli commented on #99
Contributors are now mentioned in About page.
Assigning this to @elektrolytmangel to check for the map layer, thx

[2021-02-22 18:09] elektrolytmangel commented on #82
Added durable functions. But on server, this uses something about 2s to make the hole request. Probably use AzureCosmosDB Serverless if this is faster: https://devblogs.microsoft.com/cosmosdb/serverless-preview/

[2021-02-22 20:17] elektrolytmangel commented on #98
works!

[2021-02-22 20:17] #98 closed

[2021-02-22 20:25] elektrolytmangel commented on #97
https://forums.expo.io/t/publishing-to-huawei-appgallery/38939/3
It is needed to eject from expos "managed workflow" to do this. there is also some native development needed. Best is, if an expirienced developer who knows huawei would do this (if available).

[2021-02-22 21:30] elektrolytmangel commented on #99
done!

[2021-02-22 21:30] #99 closed

[2021-02-24 16:54] elektrolytmangel opened #102 "Distance to defi does not update when moving"
Location update is some times paused (did not see why). Then the list of nearest defis is not updated and the distance does not change. Location-icon on the map is moving like id should.

[2021-02-28 09:29] chnuessli opened #103 "Layer switch isn't working when in "add defi" mode"
the leayer switch isn't working when adding a defi.

[2021-02-28 10:05] elektrolytmangel commented on #103
Works for me, but problem is, that on iOS the zoom level can be higher than 19, where no OSM tiles are available anymore.![image](https://user-images.githubusercontent.com/54470310/109414755-e18b2980-79b4-11eb-917f-11c3a8a49164.png)

[2021-03-15 06:19] elektrolytmangel commented on #82
It works, did not got problems in the last weeks. Close the issue. Create new if NoSQL integration is needed.

[2021-03-15 06:19] #82 closed

[2021-04-02 09:15] johannrichard opened #106 "Change the phoneNumberPattern to more forgiving pattern"
The current `phoneNumberPattern` is quite unforgiving with different ways of writing a number. E.g. with the current pattern, only the first three of the following examples will be valid numbers (See https://regex101.com/r/2q0OR5/1) :

[code]

(Funny enough the pattern displayed in the app as a hint (`+41 79 000 00 00`) is not a valid number with the current pattern)

https://github.com/chnuessli/

[2021-04-03 14:35] chnuessli commented on #106
Thank you for reporting this. We will look into it.

[2021-04-03 16:47] chnuessli opened #107 "OSM Layer on Android not working"
The map layer on Android isn't working. When i toggle the button, the map layer doesn't change

[2021-04-03 16:49] chnuessli opened #108 "Auto-locate by launching the app"
It' would be nice of the app will auto-locate the user and show the next defis directly at the start of the app.

[2021-04-03 16:50] chnuessli opened #109 "Better way to show the next defi"
the list view is nice, but the main navigation is the map. Can we find a way to "better" or "faster" find a way to find the next defi?

[2021-04-03 16:51] chnuessli commented on #106
PS: if you want, feel free to leave your PR and help to make the app better. Kind regards

[2021-04-03 16:58] johannrichard commented on #106
I'll prepare a PR (though I can't probably test it myself - but if that's OK it'll happily prepare one)

[2021-04-03 18:18] elektrolytmangel commented on #106
If you want, we can setup a call or something. Testing should not be that hard if you are capable of setting up an node js env and wanted to.

[2021-04-03 19:11] johannrichard commented on #106
I'll see what I can do. Setting up the dev environment should in principle be doable. :see_no_evil: It's more about the tool chain for the Azure Functions that I have to setup and (YAIDE - Yet - Another IDE) that I'm a bit worried about for just a small change. :-)

[2021-04-03 19:42] elektrolytmangel commented on #106
I forgot about the backend. For sure I will do the testing for you, after you creates the pull request :)

[2021-04-07 19:52] elektrolytmangel commented on #107
I found this. We have then probably to use another tile-provider. @chnuessli do you have one in place?

[2021-04-07 19:58] elektrolytmangel commented on #103
@chnuessli can you please verify this? Then we can close the bug or create a feature request from it.

[2021-04-07 20:28] chnuessli commented on #107
Why? Is it a problem with the tile provider? Because in iOS it's working.

[2021-04-08 16:38] chnuessli commented on #75
extend #108 and duplicate

[2021-04-08 16:38] #75 closed

[2021-04-08 16:40] chnuessli commented on #106
hello @johannrichard can you proof the mentioned PR if this is in your sense? Then we can close this issue. Thanks for your feedback

[2021-04-08 16:41] chnuessli commented on #103
yes it's the zoom level. maybe it changes if we got more layers. for now, not mentionable. closing.

[2021-04-08 16:41] #103 closed

[2021-04-08 16:41] chnuessli commented on #59
in combination with #107

[2021-04-08 16:43] chnuessli commented on #95
I think this is obsolete, the app itself needs gps, because the location is key for this app. closing

[2021-04-08 16:43] #95 closed

[2021-04-08 16:43] chnuessli commented on #23
performance issue is solved (imho), so the issue is obsolete

[2021-04-08 16:43] #23 closed

[2021-04-08 16:45] chnuessli commented on #34
all user feedback from beta testing solved or in an own issue. feedback from live users are also created as an issue. closing this. THANKS to all the BETA Tester

[2021-04-08 16:45] #34 closed

[2021-04-08 16:49] johannrichard commented on #106
Looks good to me, apologies for not having prepared it myself - got swamped with (other) work. 🙈 Thanks for picking it up.

[2021-04-08 16:50] chnuessli commented on #106
No worries, thanks for the feedback and the input, very appreciated. Solving the issue now. Thx @elektrolytmangel

[2021-04-08 16:50] #106 closed

[2021-04-22 07:58] elektrolytmangel commented on #107
This seems to be fixed. I close the issue.

[2021-04-22 07:58] #107 closed

[2021-06-21 06:09] elektrolytmangel opened #119 "Publish own WFS / WMS for defis"
If there is a request, we can probably publish our own wfs / wms services. Probably this can alos improve performance in the apps.

[2021-06-28 07:49] chnuessli opened #120 "Widget with next Defis"
Hallo Christian

Mir kam eine Idee, als ich mal wieder die defikarte nutzte.

Beim WC-Guide hatten wir, als wir noch native Apps für iPhone und Android hatten, ein Widget, welches die am nächsten gelegenen Toiletten anzeigte. Wir bekamen von einzelnen Nutzern auch die Rückmeldung, dass diese Funktion sehr wichtig für sie sei, da für diese meist nicht viel Zeit bleibt für den „Notfall“.

Nun kam mi

[2021-08-12 18:49] chnuessli opened #123 "Insert new sponsor"
insert the aed.ch logo on splash and about page

[2021-08-12 18:50] chnuessli commented on #123
https://github.com/chnuessli/defikarte.ch-app/commit/8de821d78971155aac0c6cca590fcd3aea56e355

[2021-08-12 18:50] chnuessli commented on #123
waiting for approval from @elektrolytmangel

[2021-08-20 19:21] #123 closed

[2021-08-20 19:21] chnuessli commented on #96
done by @elektrolytmangel

[2021-08-20 19:21] #96 closed

[2021-08-30 10:41] chnuessli opened #128 "Expand to Liechtenstein"
Expand the Overpass Request to Defis in Liechtenstein

[2021-08-30 10:45] chnuessli commented on #128
@elektrolytmangel Is this the part where the magic happens?

[code]

Can i just add a new area?

[2021-08-30 11:15] elektrolytmangel commented on #128
Yes you can. You can then test it with the postman-collection you find here: https://github.com/chnuessli/defikarte.ch-app/tree/main/OsmApi (there is one endpoint called "Node OverpassAPI - GET").

[2021-08-30 13:31] #128 closed

[2021-09-22 20:29] chnuessli opened #133 "Update UI for better experience"
Just because we can and it's fancy 🎉

[2021-09-27 07:07] chnuessli opened #134 "Improve the way, how a defi is located by adding it"
We have several reports for defis that are mapped incorrectly. All those mappings are done by the app and often "midfield".
We need to improve the way, or at least, show the location in an approval screen.

Otherwise we need to confirm the location as an admin, which will be a lot of work

[2022-02-22 21:42] elektrolytmangel commented on #108
The feature is added for iOS and Android. After the app gained focus, it is tried to get the location (as before), and after the first valid coordinates are there, it is zoomed to it.

[2022-02-22 21:47] elektrolytmangel commented on #109
Probably displaying a vector/polyline (direct) on the map to the next 3-5 defis. I think with the current map library and how it is used it is hard to do.

[2022-02-22 21:49] elektrolytmangel commented on #133
Add Dark mode.
Add a color schema which matches.
Make Android UI more beautiful.

[2022-02-22 22:23] elektrolytmangel commented on #134
I added a possible solution on android and ios with system dialogs, and as well moving the marker when out of map-region (not visible).

[2022-03-02 20:35] elektrolytmangel commented on #134
Solution is on iOS in production, and android soon as well. I close the issue.

[2022-03-02 20:35] #134 closed

[2022-03-02 20:36] elektrolytmangel commented on #108
Is on iOS in production, in android soon as well. I close the issue.

[2022-03-02 20:36] #108 closed

[2022-03-02 20:37] elektrolytmangel commented on #93
Solutions are supported in vs code. Close the issue.

[2022-03-02 20:37] #93 closed

[2022-03-04 16:03] chnuessli commented on #97
not a real requirement anymore. we support the two major stores.

[2022-03-04 16:03] #97 closed

[2022-08-26 14:32] chnuessli opened #144 "Make "Landscape format" possible"
For Tablets, please make Landscape format possible. Thank you.

[2022-08-29 07:19] #144 closed

[2022-08-30 20:00] chnuessli opened #148 "Upgrade SDK for Google Play Store"

[2022-09-01 06:13] chnuessli commented on #148
Done with latest Release

[2022-09-01 06:13] #148 closed

[2022-11-03 19:39] rbovard opened #151 "Add level attribute"
Please also add level attribute as done here https://github.com/chnuessli/defikarte.ch/issues/44#issuecomment-1236297176

[2022-11-07 07:07] elektrolytmangel commented on #151
I will have a look at this and try to add it.

[2022-11-10 11:50] #151 closed